### Import libraries

In [1]:
import pandas as pd

#### Loading csv file

In [2]:
df= pd.read_csv('ds_salary_data.csv',index_col=0)

In [3]:
df.head(100)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Science,$1L - $2L (Employer Est.),Company Overview: Pueo is known for bringing t...,4.9,Pueo Business Solutions\n4.9,"Quantico, VA",51 to 200 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
1,Data Science Analyst,$75T - $1L (Employer Est.),Claritas Rx is a digital health venture that b...,4.9,Claritas Rx Inc.\n4.9,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable
2,Data Scientist,Easy Apply,Anika Systems is looking for a passionate and ...,4.5,Anika Systems\n4.5,Remote,51 to 200 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
3,Lead Data Scientist,Easy Apply,Senior/Lead Data Scientist\nFinchAI is a fast-...,3.3,Finch Computing\n3.3,Remote,1 to 50 Employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
4,Junior Data Scientist,$80T - $90T (Employer Est.),"As a Junior Data Scientist, you will help supp...",3.5,"SoundThinking, Inc.\n3.5","Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,Information Technology,$25 to $50 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Data Science Analyst,$75T - $1L (Employer Est.),Claritas Rx is a digital health venture that b...,4.9,Claritas Rx Inc.\n4.9,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable
96,Junior Data Scientist,$80T - $90T (Employer Est.),"As a Junior Data Scientist, you will help supp...",3.5,"SoundThinking, Inc.\n3.5","Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,Information Technology,$25 to $50 million (USD)
97,"Associate Engineer, Data Science",Easy Apply,Company Description\n\nWe're Nagarro.\n\nWe ar...,4.2,Nagarro\n4.2,Remote,10000+ Employees,1996,Company - Public,Information Technology Support Services,Information Technology,$100 to $500 million (USD)
98,Data Scientist,Easy Apply,Anika Systems is looking for a passionate and ...,4.5,Anika Systems\n4.5,Remote,51 to 200 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
99,"Data Scientist, Junior",$58T - $1L (Employer Est.),"The Opportunity:\nAs a data scientist, you’re ...",4.2,Booz Allen Hamilton\n4.2,"McLean, VA",10000+ Employees,1914,Company - Public,Business Consulting,Management & Consulting,$5 to $10 billion (USD)

In [4]:
# Data Cleaning to be done on:

# salary_estimate parsing
# state in location column
# company name text only
# company age (founded column)
# keywords in job description (python, R etc)

### Salary Estimate Parsing

In [5]:
df.describe()

           Rating      Founded
count  500.000000   500.000000
mean     3.997400  1976.548000
std      0.456849    50.749292
min      2.800000  1788.000000
25%      3.600000  1969.000000
50%      4.000000  1998.000000
75%      4.300000  2008.000000
max      4.900000  2019.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          500 non-null    object
 1   Salary Estimate    500 non-null    object
 2   Job Description    500 non-null    object
 3   Rating             500 non-null    float64
 4   Company Name       500 non-null    object
 5   Location           500 non-null    object
 6   Size               500 non-null    object
 7   Founded            500 non-null    int64
 8   Type of ownership  500 non-null    object
 9   Industry           500 non-null    object
 10  Sector             500 non-null    object
 11  Revenue            500 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 50.8+ KB

In [7]:
df.shape

(500, 12)

In [8]:
# we need to drop these rows as they are not useful 
df[df['Salary Estimate'] == 'Easy Apply']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
2,Data Scientist,Easy Apply,Anika Systems is looking for a passionate and ...,4.5,Anika Systems\n4.5,Remote,51 to 200 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
3,Lead Data Scientist,Easy Apply,Senior/Lead Data Scientist\nFinchAI is a fast-...,3.3,Finch Computing\n3.3,Remote,1 to 50 Employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
9,Data Scientist,Easy Apply,Come party with a million people a day in cele...,3.6,"Evite, Inc.\n3.6",California,51 to 200 Employees,1998,Subsidiary or Business Segment,Internet & Web Services,Information Technology,Unknown / Non-Applicable
11,"Associate Engineer, Data Science",Easy Apply,Company Description\n\nWe're Nagarro.\n\nWe ar...,4.2,Nagarro\n4.2,Remote,10000+ Employees,1996,Company - Public,Information Technology Support Services,Information Technology,$100 to $500 million (USD)
21,Data Scientist,Easy Apply,"TITLE: Data Scientist\nLOCATION: Alexandria, V...",3.7,National Center for Missing & Exploited Childr...,Remote,201 to 500 Employees,1984,Non-profit Organisation,"Civic, Welfare & Social Services",Non-profit & NGO,$25 to $50 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
467,"Associate Engineer, Data Science",Easy Apply,Company Description\n\nWe're Nagarro.\n\nWe ar...,4.2,Nagarro\n4.2,Remote,10000+ Employees,1996,Company - Public,Information Technology Support Services,Information Technology,$100 to $500 million (USD)
481,Data Scientist,Easy Apply,Anika Systems is looking for a passionate and ...,4.5,Anika Systems\n4.5,Remote,51 to 200 Employees,2005,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
483,Lead Data Scientist,Easy Apply,Senior/Lead Data Scientist\nFinchAI is a fast-...,3.3,Finch Computing\n3.3,Remote,1 to 50 Employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
484,"Associate Engineer, Data Science",Easy Apply,Company Description\n\nWe're Nagarro.\n\nWe ar...,4.2,Nagarro\n4.2,Remote,10000+ Employees,1996,Company - Public,Information Technology Support Services,Information Technology,$100 to $500 million (USD)
499,Lead Data Scientist,Easy Apply,Senior/Lead Data Scientist\nFinchAI is a fast-...,3.3,Finch Computing\n3.3,Remote,1 to 50 Employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable

In [9]:
df = df[df['Salary Estimate'] != 'Easy Apply']

In [10]:
# now we have 427 rows
df.shape

(427, 12)

In [11]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Science,$1L - $2L (Employer Est.),Company Overview: Pueo is known for bringing t...,4.9,Pueo Business Solutions\n4.9,"Quantico, VA",51 to 200 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD)
1,Data Science Analyst,$75T - $1L (Employer Est.),Claritas Rx is a digital health venture that b...,4.9,Claritas Rx Inc.\n4.9,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable
4,Junior Data Scientist,$80T - $90T (Employer Est.),"As a Junior Data Scientist, you will help supp...",3.5,"SoundThinking, Inc.\n3.5","Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,Information Technology,$25 to $50 million (USD)
5,Data Engineer,$75T - $1L (Glassdoor Est.),Job Description: Data Engineer\nLocation: Remo...,3.4,Market Resource Partners\n3.4,"Philadelphia, PA",501 to 1000 Employees,2002,Company - Public,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD)
6,Data Scientist,$92T - $1L (Glassdoor Est.),"As a Data Scientist, you solve complex challen...",4.1,Fractal Analytics\n4.1,"Mountain View, CA",1001 to 5000 Employees,2000,Company - Private,Business Consulting,Management & Consulting,$100 to $500 million (USD)

In [12]:
mask = df['Salary Estimate'].str.contains('years')
mask.value_counts()
#now drop all the values where mask value is 'True'
df.drop(df[mask].index,inplace=True)

In [13]:
#split salary column and only take numeric range
salary = df['Salary Estimate'].apply(lambda x :x.split('(')[0])
salary

0            $1L - $2L
1           $75T - $1L
4          $80T - $90T
5           $75T - $1L
6           $92T - $1L
             ...
494          $3L - $4L
495                $2L
496        $80T - $90T
497          $1L - $2L
498    $18.00 Per hour
Name: Salary Estimate, Length: 426, dtype: object

In [14]:
minus_TL = salary.apply(lambda x :x.replace('T','').replace('L','00').replace('$',''))
minus_hr = minus_TL.apply(lambda x:x.lower().replace('per hour',''))

In [15]:
#there are 25 hourly salary estimates
#create a new column with hourly values
df['Hourly']=df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['Hourly'].value_counts()

0    401
1     25
Name: Hourly, dtype: int64

In [16]:
#create a column 'min_salary' and 'max_salary' convert the values to int

def extract_min_salary(value):
    try:
        return int(float(value.split('-')[0].strip()))
    except (ValueError, IndexError):
        return None

def extract_max_salary(value):
    try:
        return int(float(value.split('-')[1].strip()))
    except (ValueError, IndexError):
        return None

# Create 'min_salary' column
df['min_salary'] = minus_hr.apply(extract_min_salary)

# Create 'max_salary' column
df['max_salary'] = minus_hr.apply(extract_max_salary)
df['min_salary'].dtype

dtype('int64')

In [17]:
#create a column for 'avg_salary'
df['avg_salary']=(df.min_salary+df.max_salary)/2

In [18]:
df.head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Hourly,min_salary,max_salary,avg_salary
0,Data Science,$1L - $2L (Employer Est.),Company Overview: Pueo is known for bringing t...,4.9,Pueo Business Solutions\n4.9,"Quantico, VA",51 to 200 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD),0,100,200.0,150.0
1,Data Science Analyst,$75T - $1L (Employer Est.),Claritas Rx is a digital health venture that b...,4.9,Claritas Rx Inc.\n4.9,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable,0,75,100.0,87.5
4,Junior Data Scientist,$80T - $90T (Employer Est.),"As a Junior Data Scientist, you will help supp...",3.5,"SoundThinking, Inc.\n3.5","Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,Information Technology,$25 to $50 million (USD),0,80,90.0,85.0
5,Data Engineer,$75T - $1L (Glassdoor Est.),Job Description: Data Engineer\nLocation: Remo...,3.4,Market Resource Partners\n3.4,"Philadelphia, PA",501 to 1000 Employees,2002,Company - Public,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),0,75,100.0,87.5
6,Data Scientist,$92T - $1L (Glassdoor Est.),"As a Data Scientist, you solve complex challen...",4.1,Fractal Analytics\n4.1,"Mountain View, CA",1001 to 5000 Employees,2000,Company - Private,Business Consulting,Management & Consulting,$100 to $500 million (USD),0,92,100.0,96.0
8,Data Scientist,$28.63 - $53.00 Per hour (Employer Est.),Request ID: 10741-1\nStart/End Dates: 7/10/202...,4.6,COMTEC INFORMATION SYSTEMS\n4.6,Remote,501 to 1000 Employees,1996,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),1,28,53.0,40.5
10,Data Analyst,$70T - $85T (Employer Est.),Company Overview\nClearChoice was founded in 2...,3.5,ClearChoice Dental Implant Centers\n3.5,"Greenwood Village, CO",Unknown,2004,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,0,70,85.0,77.5
12,Data Scientist,$94T - $1L (Glassdoor Est.),Data Scientist (Analytics Consultant)\nEastpor...,4.3,Eastport Analytics\n4.3,"Washington, DC",1 to 50 Employees,2002,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,0,94,100.0,97.0
13,Data Scientist,$82T - $1L (Glassdoor Est.),"Spalding Consulting, Inc. is seeking a Data Sc...",4.0,"Spalding Consulting, Inc.\n4.0","Havelock, NC",201 to 500 Employees,2001,Company - Private,Aerospace & Defence,Aerospace & Defence,$25 to $50 million (USD),0,82,100.0,91.0
14,Data Scientist,$60.00 - $65.00 Per hour (Employer Est.),Hi\nJob title: Data Scientist\nLocation: Remot...,4.9,Sunixa Solutions\n4.9,Remote,51 to 200 Employees,2015,Company - Public,Information Technology Support Services,Information Technology,$1 to $5 million (USD),1,60,65.0,62.5

### Company Name Column

In [19]:
#Only company name is kept
df['Company_text'] = df.apply(lambda x:x['Column Name'] if x['Rating']<0 else x['Company Name'].split('\n')[0],axis=1)

In [20]:
df.head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Hourly,min_salary,max_salary,avg_salary,Company_text
0,Data Science,$1L - $2L (Employer Est.),Company Overview: Pueo is known for bringing t...,4.9,Pueo Business Solutions\n4.9,"Quantico, VA",51 to 200 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD),0,100,200.0,150.0,Pueo Business Solutions
1,Data Science Analyst,$75T - $1L (Employer Est.),Claritas Rx is a digital health venture that b...,4.9,Claritas Rx Inc.\n4.9,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable,0,75,100.0,87.5,Claritas Rx Inc.
4,Junior Data Scientist,$80T - $90T (Employer Est.),"As a Junior Data Scientist, you will help supp...",3.5,"SoundThinking, Inc.\n3.5","Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,Information Technology,$25 to $50 million (USD),0,80,90.0,85.0,"SoundThinking, Inc."
5,Data Engineer,$75T - $1L (Glassdoor Est.),Job Description: Data Engineer\nLocation: Remo...,3.4,Market Resource Partners\n3.4,"Philadelphia, PA",501 to 1000 Employees,2002,Company - Public,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),0,75,100.0,87.5,Market Resource Partners
6,Data Scientist,$92T - $1L (Glassdoor Est.),"As a Data Scientist, you solve complex challen...",4.1,Fractal Analytics\n4.1,"Mountain View, CA",1001 to 5000 Employees,2000,Company - Private,Business Consulting,Management & Consulting,$100 to $500 million (USD),0,92,100.0,96.0,Fractal Analytics
8,Data Scientist,$28.63 - $53.00 Per hour (Employer Est.),Request ID: 10741-1\nStart/End Dates: 7/10/202...,4.6,COMTEC INFORMATION SYSTEMS\n4.6,Remote,501 to 1000 Employees,1996,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),1,28,53.0,40.5,COMTEC INFORMATION SYSTEMS
10,Data Analyst,$70T - $85T (Employer Est.),Company Overview\nClearChoice was founded in 2...,3.5,ClearChoice Dental Implant Centers\n3.5,"Greenwood Village, CO",Unknown,2004,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,0,70,85.0,77.5,ClearChoice Dental Implant Centers
12,Data Scientist,$94T - $1L (Glassdoor Est.),Data Scientist (Analytics Consultant)\nEastpor...,4.3,Eastport Analytics\n4.3,"Washington, DC",1 to 50 Employees,2002,Company - Private,Business Consulting,Management & Consulting,Unknown / Non-Applicable,0,94,100.0,97.0,Eastport Analytics
13,Data Scientist,$82T - $1L (Glassdoor Est.),"Spalding Consulting, Inc. is seeking a Data Sc...",4.0,"Spalding Consulting, Inc.\n4.0","Havelock, NC",201 to 500 Employees,2001,Company - Private,Aerospace & Defence,Aerospace & Defence,$25 to $50 million (USD),0,82,100.0,91.0,"Spalding Consulting, Inc."
14,Data Scientist,$60.00 - $65.00 Per hour (Employer Est.),Hi\nJob title: Data Scientist\nLocation: Remot...,4.9,Sunixa Solutions\n4.9,Remote,51 to 200 Employees,2015,Company - Public,Information Technology Support Services,Information Technology,$1 to $5 million (USD),1,60,65.0,62.5,Sunixa Solutions

### State in location column

In [21]:
#only state 
def extract_state(location):
    parts = location.split(',')
    if len(parts) > 1:
        return parts[1].strip()
    else:
        return None
df['job_state']=df['Location'].apply(extract_state)
df.job_state.value_counts()

CA    134
NY     40
AZ     36
VA     26
MA     21
FL     19
HI     17
GA     15
MO     13
TX     11
WA     10
IL     10
PA      9
MN      7
NC      5
OH      2
DE      2
SC      2
DC      2
CO      1
AR      1
MD      1
Name: job_state, dtype: int64

### Company age (founded column)

In [30]:
df['Company_age']=df.Founded.apply(lambda x:x if x<1 else 2023-x)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Hourly,min_salary,max_salary,avg_salary,Company_text,job_state,Company_age
0,Data Science,$1L - $2L (Employer Est.),Company Overview: Pueo is known for bringing t...,4.9,Pueo Business Solutions\n4.9,"Quantico, VA",51 to 200 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD),0,100,200.0,150.0,Pueo Business Solutions,VA,6
1,Data Science Analyst,$75T - $1L (Employer Est.),Claritas Rx is a digital health venture that b...,4.9,Claritas Rx Inc.\n4.9,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable,0,75,100.0,87.5,Claritas Rx Inc.,CA,12
4,Junior Data Scientist,$80T - $90T (Employer Est.),"As a Junior Data Scientist, you will help supp...",3.5,"SoundThinking, Inc.\n3.5","Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,Information Technology,$25 to $50 million (USD),0,80,90.0,85.0,"SoundThinking, Inc.",CA,27
5,Data Engineer,$75T - $1L (Glassdoor Est.),Job Description: Data Engineer\nLocation: Remo...,3.4,Market Resource Partners\n3.4,"Philadelphia, PA",501 to 1000 Employees,2002,Company - Public,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),0,75,100.0,87.5,Market Resource Partners,PA,21
6,Data Scientist,$92T - $1L (Glassdoor Est.),"As a Data Scientist, you solve complex challen...",4.1,Fractal Analytics\n4.1,"Mountain View, CA",1001 to 5000 Employees,2000,Company - Private,Business Consulting,Management & Consulting,$100 to $500 million (USD),0,92,100.0,96.0,Fractal Analytics,CA,23

### keywords in job description (python, R etc)

In [50]:
df.reset_index(drop=True,inplace=True)

'Claritas Rx is a digital health venture that brings clarity to the challenges of specialty biopharmaceutical products in the marketplace. In today’s highly complex specialty networks, our mission is to illuminate the patient experience beyond the clinical trial. Claritas Rx leverages a proprietary technology platform and deep manufacturer expertise to automate and integrate channel, commercial, and clinical data and help biopharmaceutical companies generate actionable business insights. Our work uncovers the real-world variables impacting patient access, duration of therapy, and other metrics key to commercial success, making a real impact on patient healthcare.\nThe Position\nClaritas Rx has a nimble Silicon Valley start-up culture. We are looking to build a strong team of domain experts that can help scale a premier channel management solution.\n\nAt Claritas Rx, Data Scientists work with our Customer Success and product teams to design, build, and deploy advanced analytics models to support our product and customers’ business needs. Data Scientists also support Customer Success in analytics consulting engagements and develop custom features. Claritas Data Scientists perform a range of activities that include data analytics, model building, presentation and delivery of results. Our Data Scientists are active advisors to both our customers and our product team: they are data curious, enjoy analytical problem solving, are learning-oriented and enjoy coaching and collaborating with other team members to solve a variety of business problems. The ideal candidate for this position is a self-starter, intellectually curious, result-oriented and thrives in a fast-paced entrepreneurial environment.'

In [41]:
#python
df['python_yn']=df['Job Description'].apply(lambda x:1 if 'python' in x.lower() else 0)
df['python_yn'].value_counts()

0    399
1     27
Name: python_yn, dtype: int64

In [59]:
#r-studio
df['r_studio']=df['Job Description'].apply(lambda x:1 if 'r studio' or 'r-studio' in x.lower() else 0)
df['r_studio'].value_counts()

1    426
Name: r_studio, dtype: int64

In [51]:
#spark
df['spark']=df['Job Description'].apply(lambda x:1 if 'spark' in x.lower() else 0)
df['spark'].value_counts()

0    426
Name: spark, dtype: int64

In [52]:
#aws
df['aws']=df['Job Description'].apply(lambda x:1 if 'aws' in x.lower() else 0)
df['aws'].value_counts()

0    398
1     28
Name: aws, dtype: int64

In [55]:
#excel
df['excel']=df['Job Description'].apply(lambda x:1 if 'excel' in x.lower() else 0)
df['excel'].value_counts()

0    422
1      4
Name: excel, dtype: int64

In [63]:
#sql
df['sql']=df['Job Description'].apply(lambda x:1 if 'sql' in x.lower() else 0)
df['sql'].value_counts()

0    421
1      5
Name: sql, dtype: int64

In [64]:
df_out = df
df_out.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,avg_salary,Company_text,job_state,Company_age,python_yn,r_studio,spark,aws,excel,sql
0,Data Science,$1L - $2L (Employer Est.),Company Overview: Pueo is known for bringing t...,4.9,Pueo Business Solutions\n4.9,"Quantico, VA",51 to 200 Employees,2017,Company - Private,Information Technology Support Services,...,150.0,Pueo Business Solutions,VA,6,0,1,0,0,0,0
1,Data Science Analyst,$75T - $1L (Employer Est.),Claritas Rx is a digital health venture that b...,4.9,Claritas Rx Inc.\n4.9,"South San Francisco, CA",51 to 200 Employees,2011,Company - Private,Biotech & Pharmaceuticals,...,87.5,Claritas Rx Inc.,CA,12,0,1,0,0,0,0
2,Junior Data Scientist,$80T - $90T (Employer Est.),"As a Junior Data Scientist, you will help supp...",3.5,"SoundThinking, Inc.\n3.5","Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,...,85.0,"SoundThinking, Inc.",CA,27,0,1,0,0,0,0
3,Data Engineer,$75T - $1L (Glassdoor Est.),Job Description: Data Engineer\nLocation: Remo...,3.4,Market Resource Partners\n3.4,"Philadelphia, PA",501 to 1000 Employees,2002,Company - Public,Enterprise Software & Network Solutions,...,87.5,Market Resource Partners,PA,21,0,1,0,0,0,0
4,Data Scientist,$92T - $1L (Glassdoor Est.),"As a Data Scientist, you solve complex challen...",4.1,Fractal Analytics\n4.1,"Mountain View, CA",1001 to 5000 Employees,2000,Company - Private,Business Consulting,...,96.0,Fractal Analytics,CA,23,0,1,0,0,0,0

In [65]:
df_out.to_csv('Salary_data_cleaned.csv',index=False)